*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f2f5;
}
.global-container{
    display: flex;
    flex-direction: row;
    margin:8% auto;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}
.login-container{
    width: 380px;
    height: 350px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 0.5px;
    margin-top: 20px;
    position: relative;
}
.logo{
    margin-top: -100px;
    margin-right: 180px;
    height: 120px;
}
.fb_info{
    margin-left: 10px;
    margin-left: 30px;
    font-weight: 100;
}
#emailform{
    position: absolute;
    width: 330px;
    height: 45px;
    border: 1px solid rgb(194, 191, 191);
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 20px;
    padding-left: 15px;
}
#passwordform{
    position: absolute;
    width: 330px;
    height: 45px;
    border: 1px solid rgb(194, 191, 191);
    border-radius: 4px;
    margin-top: 70px;
    margin-left: 20px;
    padding-left: 15px;
}
#login-button{
    position: absolute;
    width: 330px;
    height: 40px;
    background-color: #1877f2;
    border: 1px none;
    border-radius: 4px; 
    margin-top: 130px;
    margin-left: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}
.pass-reset{
    position: absolute;
    margin-top: 180px;
    margin-left: 35%;
}
.line{
    position: absolute;
    height: 0.1px;
    color: rgb(128, 124, 124);
    margin-top: 220px;
    width: 90%;
    margin-left: 20px;
}
.newacct-btn{
    position: absolute;
    padding: 17px;
    background-color: #42b72a;
    color: #FFF;
    margin-top: 250px;
    margin-left: 30%;
    font-size: 17px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
}                                                                                                                                                         
.fb_info{
  font-size: 28px;  
}
.logo-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-left: 0px;
}
.new_page{
text-decoration: none;
margin-left: 50px;
color: black;
font-weight: bold;

}
.brand-container{
    margin-top: -19px;
   margin-left: 148px;   
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.page-footer{
    height: 130px;
    background-color:#fff;
    position: relative;
}
.lang-list{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    list-style: none;
    margin-top: 30px;
    margin-left: 175px;
    font-size: 14px;
    color: rgb(147, 141, 141);
}
.lang-list2{
    color: rgb(147, 141, 141);
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.divider{
    position: absolute;
    margin-top: 60px;
    height: 2px;
    width: 76%;
    color: rgb(179, 174, 174);
    margin-left: 175px;
}
.tab-list{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin-top: 70px;
    margin-left: 175px;
    font-size: 14px;
    color: rgb(147, 141, 141);  
}
.tab-list2{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin-top: 90px;
    margin-left: 175px;
    font-size: 14px;
    color: rgb(147, 141, 141); 
}
.tab-list3{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin-top: 110px;
    margin-left: 175px;
    font-size: 14px;
    color: rgb(147, 141, 141);
}
.lang-list3{
    color: rgb(147, 141, 141); 
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}